<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <!-- Online file with sample providers -->
    <add key="sampleProviders" value="https://dl.dropboxusercontent.com/u/9984329/ArcBruTile/arcbrutile_sample_providers.txt"/>
    <!-- Local directory with configuration files for ArcBruTile services -->
    <add key="servicesConfigDir" value="%APPDATA%\ArcBruTile\_services"/>
    <!-- Local tile directory -->
    <add key="tileDir" value="%APPDATA%\ArcBruTile\"/>
    <!-- Tile timeout in days. After this period new tiles will be retrieved -->
    <add key="tileTimeout" value="30"/>
    <!--  Free tile providers-->
    <!---OSM-->
    <add key="useOSM" value="true"/>
    <add key="useStamen" value="true"/>
    <add key="useMapBox" value="true"/>
    <add key="useCloudMade" value="true"/>
    <add key="useMapQuest" value="true"/>
    <!--  Commercial tile providers-->
    <!---Bing-->
    <add key="useBing" value="true"/>
    <add key="BingUrl" value="http://t3.tiles.virtualearth.net/tiles/"/>
    <add key="BingToken" value=""/>
    <!-- OS Geo -->
    <add key="useTms" value="true"/>
    <add key="useWmsC" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <log4net>
    <appender name="ArcBruTileSystemFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${USERPROFILE}\Local Settings\Application Data\ArcBruTile\ArcBruTile.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionpattern value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <logger name="ArcBruTileSystemLogger">
      <level value="ALL"/>
      <appender-ref ref="ArcBruTileSystemFileAppender"/>
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.3"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
